<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>

{% extends 'layout/base.html' %}

{% block content %}
 <div class="container-fluid h-100">
  <div class="row h-100">
    <!-- Search Form Section -->
    <div class="col-lg-4 d-flex align-items-center justify-content-center bg-white">
      <div class="search-box w-100">
        <h5 class="text-muted">Good Morning</h5>
        <h2 class="fw-bold mb-4">Where should we deliver your food today?</h2>

        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text text-danger">
              <i class="bi bi-geo-alt-fill"></i>
            </span>
            <input type="text" class="form-control search-input" placeholder="Trà Sữa MayCha – Tô Hiến Thành – 17">
          </div>
        </div>

        <button class="btn btn-search w-100">Tìm kiếm</button>
      </div>
    </div>

    <!-- Background Image Section -->
    <div class="col-lg-8 d-none d-lg-block bg-cover"></div>
  </div>
</div>
{% endblock %}