{# Đặt biến để báo cho header ẩn các nút #}
{% set hide_header_controls = True %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
</head>

{% extends 'layout/base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="login-container ">
        <a class="navbar-brand d-flex justify-content-center" href="{{ url_for('main.index') }}">
                        <img src="{{ url_for('static', filename='images/logokymie1.png') }}" alt="GrabFood Logo"
                             style="height: 85px;">
                    </a>
            <p class="text-center h5 my-4">Bảo mật đăng nhập</p>

            <form method="post" action="/login">
                {% if error %}
                    <div id="error-alert" class="alert alert-danger text-center mt-3">
                        {{ error }}
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="phone" class="form-label">Nhập số điện thoại đã đăng kí của bạn</label>
                    <input type="tel" class="form-control" id="phone" name="phone" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Vui lòng nhập mật khẩu</label>
                    <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
                </div>

                <div class="text-center mt-4">
                    <p>Nếu bạn chưa có tài khoản, vui lòng <a href="{{ url_for('main.preregister') }}">Đăng kí tài khoản</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        const alertBox = document.getElementById('error-alert');
        if (alertBox) {
            setTimeout(() => {
                alertBox.style.transition = 'opacity 0.5s ease-out';
                alertBox.style.opacity = '0';
                setTimeout(() => alertBox.remove(), 500); // Xoá khỏi DOM sau khi ẩn
            }, 1000); // Đợi 1 giây
        }
    });
</script>
{% endblock %}