<footer class="bg-grab-green text-white pt-5 pb-4">
        <div class="container text-start">
            <!-- Logo -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="https://food.grab.com/static/images/logo-grabfood-white2.svg" alt="GrabFood Logo" class="footer-logo">
                </div>
            </div>

            <hr class="footer-hr">

            <!-- Footer Links -->
            <div class="row gy-4">
                <!-- Column 1 -->
                <div class="col-lg-3 col-md-6">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="footer-link">Về GrabFood</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Về Grab</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Blog</a></li>
                    </ul>
                </div>
                <!-- Column 2 -->
                <div class="col-lg-3 col-md-6">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="footer-link">Mở quán trên GrabFood</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Trở thành tài xế Grab</a></li>
                    </ul>
                </div>
                <!-- Column 3 -->
                <div class="col-lg-3 col-md-6">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="footer-link">Trung tâm hỗ trợ</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Câu hỏi thường gặp</a></li>
                    </ul>
                </div>
                <!-- Column 4: Social Icons -->
                <div class="col-lg-3 col-md-6 text-lg-end text-start">
                    <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
                </div>
            </div>

            <hr class="footer-hr">

            <!-- Bottom Footer -->
            <div class="row align-items-center gy-3">
                <!-- App Stores -->
                <div class="col-md-6 text-md-start text-center">
                    <a href="#" class="me-2"><img src="https://food.grab.com/static/images/logo-appstore.svg" alt="Download on the App Store" class="store-badge"></a>
                    <a href="#"><img src="https://food.grab.com/static/images/logo-googleplay.svg" alt="Get it on Google Play" class="store-badge"></a>
                </div>
                <!-- Copyright & Legal -->
                <div class="col-md-6 text-md-end text-center">
                    <small>© 2025 Grab</small>
                    <a href="#" class="bottom-footer-link"><small>Câu hỏi thường gặp</small></a>
                    <a href="#" class="bottom-footer-link"><small>Chính sách bảo mật</small></a>
                </div>
            </div>
        </div>
    </footer>