<header class="sticky-top bg-white shadow-sm">
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light px-5">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logokymie1.png') }}" alt="GrabFood Logo"
                     style="height: 50px;">
            </a>

            <!-- Thanh địa chỉ chỉ hiển thị ở trang index -->
            {% if request.endpoint  in ['login_view', 'register', 'preregister', 'resregister', 'reslogin'] %}

            {% else %}
            <div class="input-group mx-5" style="width: 350px;">
                <span class="input-group-text"><i class="bi bi-geo-alt-fill text-danger"></i></span>
                <input id="addressInput" type="text" class="form-control" placeholder="Nhập địa chỉ...">
            </div>

            {% endif %}

            <!-- Spacer to push controls to the right -->
            <div class="ms-auto d-flex align-items-center">

                {# --- BẮT ĐẦU KHỐI ĐIỀU KIỆN --- #}
                {% if not hide_header_controls %}
                <!-- Cart Button -->
                <button type="button" class="btn btn-custom-light me-2">
                    <i class="bi bi-bag"></i>
                </button>

                {% if current_user.is_authenticated %}
                <!-- Login/Register Button -->
                <a href="{% if current_user.role.name == 'ADMIN' %}{{ url_for('admin.index') }}{% else %}{{ url_for('index') }}{% endif %}"
                   class="btn btn-custom-light me-2">
                    <img src="{{ current_user.avatar }}" width="25" class="rounded-circle">
                    Chào {{ current_user.name }}
                </a>


                <a href="/logout" class="btn btn-custom-light me-2">
                    Đăng xuất
                </a>
                {% else %}
                <!-- Login/Register Button -->
                <a href="{{ url_for('login_view') }}" class="btn btn-custom-light me-2">
                    Đăng nhập/Đăng ký
                </a>
                {% endif %}


                <!-- Language Dropdown -->
                <div class="dropdown">
                    <button class="btn btn-custom-light dropdown-toggle" type="button" id="languageDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        VI
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#">VI - Tiếng Việt</a></li>
                        <li><a class="dropdown-item" href="#">EN - English</a></li>
                    </ul>
                </div>
                {% endif %}
                {# --- KẾT THÚC KHỐI ĐIỀU KIỆN --- #}
            </div>
        </nav>
    </div>
</header>
